<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" th:href="@{create.css}">
</head>

<body>
<form th:action="@{/update}" th:object="${car}" method="post">
    <h1>Edit Car</h1>
    <input type="hidden" th:field="*{id}"/>

    <label for="licensePlateNumber">License Plate Number:</label>
    <input id="licensePlateNumber" type="text" th:field="*{licensePlateNumber}" required/>

    <label for="make">Make:</label>
    <input id="make" type="text" th:field="*{make}" required/>

    <label for="model">Model:</label>
    <input id="model" type="text" th:field="*{model}" required/>

    <label for="year">Year:</label>
    <input id="year" type="number" th:field="*{year}" min="1900" max="2100" required/>

    <label for="color">Color:</label>
    <input id="color" type="text" th:field="*{color}" required/>

    <label for="bodyType">Body Type:</label>
    <select id="bodyType" th:field="*{bodyType}">
        <option  value="" disabled>-- Select Body Type --</option>
        <option value="Sedan">Sedan</option>
        <option value="SUV">SUV</option>
        <option value="Hatchback">Hatchback</option>
        <option value="Pickup">Pickup</option>
        <option value="Coupe">Coupe</option>
        <option value="Convertible">Convertible</option>
    </select>

    <label for="engineType">Engine Type:</label>
    <select id="engineType" th:field="*{engineType}" required>
        <option value="" disabled selected>-- Select Engine Type --</option>
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
        <option value="Electric">Electric</option>
        <option value="Hybrid">Hybrid</option>
    </select>

    <label for="transmission">Transmission:</label>
    <select id="transmission" th:field="*{transmission}" required>
        <option value="" disabled selected>-- Select Transmission --</option>
        <option value="Automatic">Automatic</option>
        <option value="Manual">Manual</option>
    </select>

    <button type="submit">Update Car</button>
    <a href="/">Cancel</a>
</form>
</body>
</html>